*.aux
*.lof
*.lot
*main.pdf
*.gz
*.log
*.toc
*.bbl
*.blg
*.out
*.brf
*~lock*
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*busy*
*.env*
*settings.json

OUTPUT/*

útiles/*
TFM/LaTeX/capitulos/bibliografia.tex
*apikey.py
*__pycache__*
