*.aux
*.lof
*.lot
*main.pdf
*.gz
*.log
*.toc
*.bbl
*.blg
*.out
*.brf
*~lock*
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*busy*
*.env*
*settings.json

OUTPUT/*

útiles/*
TFM/LaTeX/capitulos/bibliografia.tex
*apikey.*
*__pycache__*
Experimentos/Tidal Cycles/python/LiveCoding_interactivo_API/apikey.txt

TFM/LaTeX/main.glg
TFM/LaTeX/main.glo
TFM/LaTeX/main.gls
TFM/LaTeX/main.ist
TFM/LaTeX/main.glsdefs
TFM/LaTeX/main.run.xml