*.aux
*.lof
*.lot
*main.pdf
*.gz
*.log
*.toc
*.bbl
*.blg
*.out
*.brf
*~lock*
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*busy*
*.env*
*settings.json

OUTPUT/*

útiles/*
*apikey.*
*__pycache__*
*apikey.txt

*.glg
*.glo
*.gls
*.ist
*.glsdefs
*.run.xml
*.tdo
*.wav

TFM/LaTeX/main.bcf